{% extends '_page.twig' %}
{% block title %}libphonenumber Demo{% endblock %}
{% block content %}
    {% set tableWidth='auto' %}
    <p class="lead"><a href="{{ baseurl }}">&laquo; Back to form</a></p>

    {% include 'inputData.twig' %}
    <hr/>

    <h2><code>{{ get_class(phoneNumberObj) }}</code> Object</h2>
    <div class="row">
        <div class="col-{{ tableWidth }}">
            <table class="table">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th><code>getCountryCode()</code></th>
                    <td>{{ phoneNumberObj.getCountryCode }}</td>
                </tr>
                <tr>
                    <th><code>getNationalNumber()</code></th>
                    <td>{{ phoneNumberObj.getNationalNumber }}</td>
                </tr>
                <tr>
                    <th><code>getExtension()</code></th>
                    <td>{{ phoneNumberObj.getExtension }}</td>
                </tr>

                <tr>
                    <th><code>getCountryCodeSource()</code></th>
                    <td title="libphonenumber\CountryCodeSource constant" data-toggle="tooltip">
                        {% if phoneNumberObj.getCountryCodeSource == 0 %}
                            FROM_NUMBER_WITH_PLUS_SIGN
                        {% elseif phoneNumberObj.getCountryCodeSource == 1 %}
                            FROM_NUMBER_WITH_IDD
                        {% elseif phoneNumberObj.getCountryCodeSource == 2 %}
                            FROM_NUMBER_WITHOUT_PLUS_SIGN
                        {% elseif phoneNumberObj.getCountryCodeSource == 3 %}
                            FROM_DEFAULT_COUNTRY
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th><code>isItalianLeadingZero()</code></th>
                    <td>{% include '_boolean.twig' with {'v': phoneNumberObj.isItalianLeadingZero} %}</td>
                </tr>
                <tr>
                    <th><code>getRawInput()</code></th>
                    <td>{{ phoneNumberObj.getRawInput }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <hr/>

    <h2>Validation Results</h2>
    <div class="row">
        <div class="col-{{ tableWidth }}">
            <table class="table">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#ispossiblenumber"
                           target="_blank">
                            <code title="PhoneNumberUtil->isPossibleNumber(PhoneNumber $number)" data-toggle="tooltip">isPossibleNumber()</code>
                        </a>
                    </th>
                    <td>{% include '_boolean.twig' with {'v': possibleNumber} %}</td>
                </tr>
                {% if possibleNumber == false %}
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#ispossiblenumberwithreason"
                           target="_blank">
                            <code title="PhoneNumberUtil->isPossibleNumberWithReason(PhoneNumber $number)"
                                  data-toggle="tooltip">isPossibleNumberWithReason()</code>
                        </a>
                    </th>
                    <td title="libphonenumber\ValidationResult constant">
                        {% if isPossibleNumberWithReason == 0 %}
                            IS_POSSIBLE
                        {% elseif isPossibleNumberWithReason == 1 %}
                            INVALID_COUNTRY_CODE
                        {% elseif isPossibleNumberWithReason == 2 %}
                            TOO_SHORT
                        {% elseif isPossibleNumberWithReason == 3 %}
                            TOO_LONG
                        {% endif %}</td>

                {% else %}
                    <tr>
                        <th>
                            <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#isvalidnumber"
                               target="_blank">
                                <code title="PhoneNumberUtil->isValidNumber(PhoneNumber $number)" data-toggle="tooltip">isValidNumber()</code>
                            </a>
                        </th>
                        <td>{% include '_boolean.twig' with {'v': validNumber} %}</td>
                    </tr>
                    <tr>
                        <th>
                            <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#isvalidnumberforregion"
                               target="_blank">
                                <code title="PhoneNumberUtil->isValidNumberForRegion(PhoneNumber $number, String $region)"
                                      data-toggle="tooltip">isValidNumberForRegion()</code>
                            </a>
                        </th>
                        <td>{% include '_boolean.twig' with {'v': validNumberForRegion} %}</td>
                    </tr>

                    <tr>
                        <th>
                            <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#getregioncodefornumber"
                               target="_blank">
                                <code title="PhoneNumberUtil->getRegionCodeForNumber(PhoneNumber $number)"
                                      data-toggle="tooltip">getRegionCodeForNumber()</code>
                            </a>
                        </th>
                        <td>
                            {% if phoneNumberRegion %}
                                <span class='flag-icon flag-icon-{{ phoneNumberRegion|lower }}'
                                        {% if countries[phoneNumberRegion] is defined %}
                                            title="{{ countries[phoneNumberRegion] }}" data-toggle="tooltip"
                                        {% endif %}
                                ></span>
                            {% endif %}
                            {{ phoneNumberRegion }}</td>
                    </tr>

                    <tr>
                        <th>
                            <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#getnumbertype"
                               target="_blank">
                                <code title="PhoneNumberUtil->getNumberType(PhoneNumber $number)" data-toggle="tooltip">getNumberType()</code>
                            </a>
                        </th>
                        <td>{% if phoneNumberType == 0 %}
                                FIXED_LINE
                            {% elseif phoneNumberType == 1 %}
                                MOBILE
                            {% elseif phoneNumberType == 2 %}
                                FIXED_LINE_OR_MOBILE
                            {% elseif phoneNumberType == 3 %}
                                TOLL_FREE
                            {% elseif phoneNumberType == 4 %}
                                PREMIUM_RATE
                            {% elseif phoneNumberType == 5 %}
                                SHARED_COST
                            {% elseif phoneNumberType == 6 %}
                                VOIP
                            {% elseif phoneNumberType == 7 %}
                                PERSONAL_NUMBER
                            {% elseif phoneNumberType == 8 %}
                                PAGER
                            {% elseif phoneNumberType == 9 %}
                                UAN
                            {% elseif phoneNumberType == 10 %}
                                UNKNOWN
                            {% elseif phoneNumberType == 27 %}
                                EMERGENCY
                            {% elseif phoneNumberType == 28 %}
                                VOICEMAIL
                            {% elseif phoneNumberType == 29 %}
                                SHORT_CODE
                            {% elseif phoneNumberType == 30 %}
                                STANDARD_RATE
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <hr/>


    <h2>Formatting</h2>

    <h4>
        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#format" target="_blank">
            <code title="PhoneNumberUtil->format()" data-toggle="tooltip">
                format()
            </code>
        </a>
    </h4>

    <div class="row">
        <div class="col-{{ tableWidth }}">
            <table class="table">
                <thead>
                <tr>
                    <th>Format</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th title="libphonenumber\PhoneNumberFormat::E164" data-toggle="tooltip">E164</th>
                    <td>
                        {% if validNumber == true %}
                            {{ phoneUtil.format(phoneNumberObj, 0) }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th title="libphonenumber\PhoneNumberFormat::NATIONAL" data-toggle="tooltip">National</th>
                    <td>
                        {% if validNumber == true %}
                            {{ phoneUtil.format(phoneNumberObj, 2) }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th title="libphonenumber\PhoneNumberFormat::INTERNATIONAL" data-toggle="tooltip">International</th>
                    <td>
                        {% if validNumber == true %}
                            {{ phoneUtil.format(phoneNumberObj, 1) }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th title="libphonenumber\PhoneNumberFormat::RFC3966" data-toggle="tooltip">RFC3966</th>
                    <td>
                        {% if validNumber == true %}
                            {{ phoneUtil.format(phoneNumberObj, 3) }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    {% if validNumber == true %}
        <h4>
            <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#formatoutofcountrycallingnumber"
               target="_blank">Format Out of Country Calling Number</a>
            /
            <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#formatoutofcountrycallingnumber"
               target="_blank">Format Number for Mobile Dialing</a>
        </h4>
        <div class="row">
            <div class="col-{{ tableWidth }} overflow-auto" id="country-list">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Region</th>
                        <th>
                            <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#formatoutofcountrycallingnumber"
                               target="_blank">
                                <code title="PhoneNumberUtil->formatOutOfCountryCallingNumber(PhoneNumber $number, string $regionCallingFrom)"
                                      data-toggle="tooltip">formatOutOfCountryCallingNumber()</code>
                            </a>
                        </th>
                        <th>
                            <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#formatnumberformobiledialing"
                               target="_blank">
                                <code title="PhoneNumberUtil->formatNumberForMobileDialing(PhoneNumber $number, string $regionCallingFrom, bool $format)"
                                      data-toggle="tooltip">formatNumberForMobileDialing()</code>
                            </a>
                        </th>
                    </tr>
                    </thead>
                    <tbody
                    {% for region in regions %}
                        <tr>
                            <td>
                            <span title='{{ region }}' data-toggle="tooltip" data-placement="top" class="flag-country">
                                <span class='flag-icon flag-icon-{{ region|lower }}'></span>
                                {% if countries[region] is defined %}
                                    {{ countries[region] }}
                                {% else %}
                                    <em>{{ region }}</em>
                                {% endif %}
                            </span>
                            </td>
                            <td>{{ phoneUtil.formatOutOfCountryCallingNumber(phoneNumberObj, region) }}</td>
                            <td>{{ phoneUtil.formatNumberForMobileDialing(phoneNumberObj, region, true) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    {% endif %}

    <hr/>


    <h2>ShortNumberInfo</h2>
    <div class="row">
        <div class="col-{{ tableWidth }}">
            <table class="table">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#ispossibleshortnumber"
                           target="_blank">
                            <code>isPossibleShortNumber()</code>
                        </a>
                    </th>
                    <td>{% include '_boolean.twig' with {'v': shortNumber.isPossibleShortNumber(phoneNumberObj)} %}</td>
                </tr>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#isvalidshortnumber"
                           target="_blank">
                            <code>isValidShortNumber()</code>
                        </a>
                    </th>
                    <td>{% include '_boolean.twig' with {'v': shortNumber.isValidShortNumber(phoneNumberObj)} %}</td>
                </tr>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#ispossibleshortnumberforregion"
                           target="_blank">
                            <code>isPossibleShortNumberForRegion()</code>
                        </a>
                    </th>
                    <td>{% include '_boolean.twig' with {'v': shortNumber.isPossibleShortNumberForRegion(phoneNumberObj, phoneNumberRegion)} %}</td>
                </tr>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#isvalidshortnumberforregion"
                           target="_blank">
                            <code>isValidShortNumberForRegion()</code>
                        </a>
                    </th>
                    <td>{% include '_boolean.twig' with {'v': shortNumber.isValidShortNumberForRegion(phoneNumberObj, phoneNumberRegion)} %}</td>
                </tr>


                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#getexpectedcost"
                           target="_blank">
                            <code>getExpectedCost()</code>
                        </a>
                    </th>
                    {% set getExpectedCost = shortNumber.getExpectedCost(phoneNumberObj) %}
                    <td>{% if getExpectedCost == 3 %}TOLL_FREE
                        {% elseif getExpectedCost == 4 %}PREMIUM_RATE
                        {% elseif getExpectedCost == 30 %}STANDARD_RATE
                        {% elseif getExpectedCost == 10 %}UNKNOWN_COST
                        {% endif %}
                    </td>
                </tr>


                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#getexpectedcostforregion"
                           target="_blank">
                            <code>getExpectedCostForRegion()</code>
                        </a>
                    </th>
                    {% set getExpectedCostForRegion = shortNumber.getExpectedCostForRegion(phoneNumberObj, phoneNumberRegion) %}
                    <td>{% if getExpectedCostForRegion == 3 %}TOLL_FREE
                        {% elseif getExpectedCostForRegion == 4 %}PREMIUM_RATE
                        {% elseif getExpectedCostForRegion == 30 %}STANDARD_RATE
                        {% elseif getExpectedCostForRegion == 10 %}UNKNOWN_COST
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#isemergencynumber"
                           target="_blank">
                            <code>isEmergencyNumber()</code>
                        </a>
                    </th>
                    <td>{% include '_boolean.twig' with {'v': shortNumber.isEmergencyNumber(input['phonenumber'], input['country'])} %}</td>
                </tr>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#connectstoemergencynumber"
                           target="_blank">
                            <code>connectsToEmergencyNumber()</code>
                        </a>
                    </th>
                    <td>{% include '_boolean.twig' with {'v': shortNumber.connectsToEmergencyNumber(input['phonenumber'], input['country'])} %}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <hr/>


    <h2>Example Numbers</h2>
    <div class="row">
        <div class="col-{{ tableWidth }}">
            <table class="table">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#getexamplenumber"
                           target="_blank">
                            <code title="libphonenumber\PhoneNumberUtil->getExampleNumber(string $regionCode)"
                                  data-toggle="tooltip">getExampleNumber()</code>
                        </a>
                    </th>
                    <td>{{ phoneUtil.getExampleNumber(input['country']) }}</td>
                </tr>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberUtil.html#getexamplenumberfortype"
                           target="_blank">
                            <code title="libphonenumber\PhoneNumberUtil->getExampleNumberForType()"
                                  data-toggle="tooltip">getExampleNumberForType</code>
                        </a>
                    </th>
                    <td>{{ phoneUtil.getExampleNumberForType(input['country'], phoneNumberType) }}</td>
                </tr>

                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/ShortNumberInfo.html#getexampleshortnumber"
                           target="_blank">
                            <code title="libphonenumber\ShortNumberUtil->getExampleShortNumber()"
                                  data-toggle="tooltip">getExampleShortNumber</code>
                        </a>
                    </th>
                    <td>{{ shortNumber.getExampleShortNumber(input['country']) }}</td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>

    <hr/>

    <h2>Phone Number Offline Geocoder Result</h2>
    <div class="row">
        <div class="col-{{ tableWidth }}">
            <table class="table">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberOfflineGeocoder.html#getdescriptionfornumber"
                           target="_blank">
                            <code title="PhoneNumberOfflineGeocoder->getDescriptionForNumber(PhoneNumber $phoneNumber, String $language, String $region)"
                                  data-toggle="tooltip">getDescriptionForNumber()</code>
                        </a>
                    </th>
                    <td>{{ geolocation }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr/>

    <h2>Phone Number To Carrier Mapper Result</h2>
    <div class="row">
        <div class="col-{{ tableWidth }}">
            <table class="table">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberToCarrierMapper.html#getnamefornumber"
                           target="_blank">
                            <code title="PhoneNumberToCarrierMapper->getNameForNumber(PhoneNumber $phoneNumber, String $language)"
                                  data-toggle="tooltip">getNameForNumber()</code>
                        </a>
                    </th>
                    <td>{{ carrierinfo }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr/>

    <h2>Phone Number To Time Zones Mapper Result</h2>
    <div class="row">
        <div class="col-{{ tableWidth }}">
            <table class="table">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <a href="https://giggsey.github.io/libphonenumber-for-php/docs/PhoneNumberToTimeZonesMapper.html#gettimezonesfornumber"
                           target="_blank">
                            <code title="PhoneNumberToTimeZonesMapper->getTimeZonesForNumber(PhoneNumber $phoneNumber)"
                                  data-toggle="tooltip">getTimeZonesForNumber()</code>
                        </a>
                    </th>
                    <td>
                        <ul>
                            {% for tz in timezone %}
                                <li>{{ tz }}</li>
                            {% endfor %}
                        </ul>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
