{% extends '_page.twig' %}
{% block title %}libphonenumber Demo{% endblock %}
{% block content %}
    {% set tableWidth=6 %}
    <p class="lead"><a href="{{ baseurl }}">&laquo; Back to form</a></p>

    {% include 'inputData.twig' %}
    <hr/>

    <h2><code>{{ get_class(phoneNumberObj) }}</code> Object</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th><code>getCountryCode()</code></th>
                    <td>{{ phoneNumberObj.getCountryCode }}</td>
                </tr>
                <tr>
                    <th><code>getNationalNumber()</code></th>
                    <td>{{ phoneNumberObj.getNationalNumber }}</td>
                </tr>
                <tr>
                    <th><code>getExtension()</code></th>
                    <td>{{ phoneNumberObj.getExtension }}</td>
                </tr>

                <tr>
                    <th><code>getCountryCodeSource()</code></th>
                    <td title="libphonenumber\CountryCodeSource constant">
                        {% if phoneNumberObj.getCountryCodeSource == 0 %}
                            FROM_NUMBER_WITH_PLUS_SIGN
                        {% elseif phoneNumberObj.getCountryCodeSource == 1 %}
                            FROM_NUMBER_WITH_IDD
                        {% elseif phoneNumberObj.getCountryCodeSource == 2 %}
                            FROM_NUMBER_WITHOUT_PLUS_SIGN
                        {% elseif phoneNumberObj.getCountryCodeSource == 3 %}
                            FROM_DEFAULT_COUNTRY
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th><code>isItalianLeadingZero()</code></th>
                    <td>{% if phoneNumberObj.isItalianLeadingZero == true %}true{% else %}false{% endif %}</td>
                </tr>
                <tr>
                    <th><code>getRawInput()</code></th>
                    <td>{{ phoneNumberObj.getRawInput }}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <hr/>

    <h2>Validation Results</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th><code title="PhoneNumberUtil->isPossibleNumber(PhoneNumber $number)">isPossibleNumber()</code>
                    </th>
                    <td>{% if possibleNumber == true %}true{% else %}false{% endif %}</td>
                </tr>
                {% if possibleNumber == false %}
                    <th><code title="PhoneNumberUtil->isPossibleNumberWithReason(PhoneNumber $number)">isPossibleNumberWithReason()</code>
                    </th>
                    <td title="libphonenumber\ValidationResult constant">
                        {% if isPossibleNumberWithReason == 0 %}
                            IS_POSSIBLE
                        {% elseif isPossibleNumberWithReason == 1 %}
                            INVALID_COUNTRY_CODE
                        {% elseif isPossibleNumberWithReason == 2 %}
                            TOO_SHORT
                        {% elseif isPossibleNumberWithReason == 3 %}
                            TOO_LONG
                        {% endif %}</td>

                {% else %}
                    <tr>
                        <th><code title="PhoneNumberUtil->isValidNumber(PhoneNumber $number)">isValidNumber()</code>
                        </th>
                        <td>{% if validNumber == true %}true{% else %}false{% endif %}</td>
                    </tr>
                    <tr>
                        <th><code title="PhoneNumberUtil->isValidNumberForRegion(PhoneNumber $number, String $region)">isValidNumberForRegion()</code>
                        </th>
                        <td>{% if validNumberForRegion == true %}true{% else %}false{% endif %}</td>
                    </tr>

                    <tr>
                        <th>
                            <code title="PhoneNumberUtil->getRegionCodeForNumber(PhoneNumber $number)">getRegionCodeForNumber()</code>
                        </th>
                        <td>{{ phoneNumberRegion }}</td>
                    </tr>

                    <tr>
                        <th><code title="PhoneNumberUtil->getNumberType(PhoneNumber $number)">getNumberType()</code>
                        </th>
                        <td>{% if phoneNumberType == 0 %}
                                FIXED_LINE
                            {% elseif phoneNumberType == 1 %}
                                MOBILE
                            {% elseif phoneNumberType == 2 %}
                                FIXED_LINE_OR_MOBILE
                            {% elseif phoneNumberType == 3 %}
                                TOLL_FREE
                            {% elseif phoneNumberType == 4 %}
                                PREMIUM_RATE
                            {% elseif phoneNumberType == 5 %}
                                SHARED_COST
                            {% elseif phoneNumberType == 6 %}
                                VOIP
                            {% elseif phoneNumberType == 7 %}
                                PERSONAL_NUMBER
                            {% elseif phoneNumberType == 8 %}
                                PAGER
                            {% elseif phoneNumberType == 9 %}
                                UAN
                            {% elseif phoneNumberType == 10 %}
                                UNKNOWN
                            {% elseif phoneNumberType == 27 %}
                                EMERGENCY
                            {% elseif phoneNumberType == 28 %}
                                VOICEMAIL
                            {% elseif phoneNumberType == 29 %}
                                SHORT_CODE
                            {% elseif phoneNumberType == 30 %}
                                STANDARD_RATE
                            {% endif %}
                        </td>
                    </tr>
                {% endif %}
                </tbody>
            </table>
        </div>
    </div>

    <hr/>


    <h2>Formatting</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th title="libphonenumber\PhoneNumberFormat::E164">E164</th>
                    <td>{% if validNumber == true %}
                            {{ phoneUtil.format(phoneNumberObj, 0) }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th><code title="PhoneNumberUtil->formatInOriginalFormat(PhoneNumber $number, String $country)">formatInOriginalFormat()</code>
                    </th>
                    <td>{{ phoneUtil.formatInOriginalFormat(phoneNumberObj, input['country']) }}</td>
                </tr>


                <tr>
                    <th title="libphonenumber\PhoneNumberFormat::NATIONAL">National</th>
                    <td>{{ phoneUtil.format(phoneNumberObj, 2) }}</td>
                </tr>

                <tr>
                    <th title="libphonenumber\PhoneNumberFormat::INTERNATIONAL">International</th>
                    <td>{% if validNumber == true %}
                            {{ phoneUtil.format(phoneNumberObj, 1) }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>
                <tr>
                    <th title="libphonenumber\PhoneNumberFormat::RFC3966">RFC3966</th>
                    <td>{% if validNumber == true %}
                            {{ phoneUtil.format(phoneNumberObj, 3) }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>


                <tr>
                    <th>Out of Country Format from US</th>
                    <td>{% if validNumber == true %}
                            {{ phoneUtil.formatOutOfCountryCallingNumber(phoneNumberObj, "US") }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Out of Country Format from CH</th>
                    <td>{% if validNumber == true %}
                            {{ phoneUtil.formatOutOfCountryCallingNumber(phoneNumberObj, "CH") }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>
                 <tr>
                    <th>Out of Country Format from FR</th>
                    <td>{% if validNumber == true %}
                            {{ phoneUtil.formatOutOfCountryCallingNumber(phoneNumberObj, "FR") }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th>Out of Country Format from GB</th>
                    <td>{% if validNumber == true %}
                            {{ phoneUtil.formatOutOfCountryCallingNumber(phoneNumberObj, "GB") }}
                        {% else %}
                            <em>Invalid Number</em>
                        {% endif %}
                    </td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <hr/>


    <h2>ShortNumberInfo</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <th><code>isPossibleShortNumber()</code></th>
                    <td>{% if shortNumber.isPossibleShortNumber(phoneNumberObj) == true %}true{% else %}false{% endif %}</td>
                </tr>

                <tr>
                    <th><code>isValidShortNumber()</code></th>
                    <td>{% if shortNumber.isValidShortNumber(phoneNumberObj) == true %}true{% else %}false{% endif %}</td>
                </tr>

                <tr>
                    <th><code>isPossibleShortNumberForRegion()</code></th>
                    <td>{% if shortNumber.isPossibleShortNumberForRegion(phoneNumberObj, phoneNumberRegion) == true %}true{% else %}false{% endif %}</td>
                </tr>

                <tr>
                    <th><code>isValidShortNumberForRegion()</code></th>
                    <td>{% if shortNumber.isValidShortNumberForRegion(phoneNumberObj, phoneNumberRegion) == true %}true{% else %}false{% endif %}</td>
                </tr>


                <tr>
                    <th><code>getExpectedCost()</code></th>
                    {% set getExpectedCost = shortNumber.getExpectedCost(phoneNumberObj) %}
                    <td>{% if getExpectedCost == 3 %}TOLL_FREE
                        {% elseif getExpectedCost == 4 %}PREMIUM_RATE
                        {% elseif getExpectedCost == 30 %}STANDARD_RATE
                        {% elseif getExpectedCost == 10 %}UNKNOWN_COST
                        {% endif %}
                    </td>
                </tr>


                <tr>
                    <th>getExpectedCostForRegion()</th>
                    {% set getExpectedCostForRegion = shortNumber.getExpectedCostForRegion(phoneNumberObj, phoneNumberRegion) %}
                    <td>{% if getExpectedCostForRegion == 3 %}TOLL_FREE
                        {% elseif getExpectedCostForRegion == 4 %}PREMIUM_RATE
                        {% elseif getExpectedCostForRegion == 30 %}STANDARD_RATE
                        {% elseif getExpectedCostForRegion == 10 %}UNKNOWN_COST
                        {% endif %}
                    </td>
                </tr>

                <tr>
                    <th><code>isEmergencyNumber()</code></th>
                    <td>{% if shortNumber.isEmergencyNumber(input['phonenumber'], input['country']) == true %}true{% else %}false{% endif %}</td>
                </tr>

                <tr>
                    <th><code>connectsToEmergencyNumber()</code></th>
                    <td>{% if shortNumber.connectsToEmergencyNumber(input['phonenumber'], input['country']) == true %}true{% else %}false{% endif %}</td>
                </tr>

                </tbody>
            </table>
        </div>
    </div>

    <hr/>


    <h2>Example Numbers</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>

                <tr>
                    <th title="libphonenumber\PhoneNumberUtil->getExampleNumber()">getExampleNumber</th>
                    <td>{{ phoneUtil.getExampleNumber(input['country']) }}</td>
                </tr>

                <tr>
                    <th title="libphonenumber\PhoneNumberUtil->getExampleNumberForType()">getExampleNumberForType</th>
                    <td>{{ phoneUtil.getExampleNumberForType(input['country'], phoneNumberType) }}</td>
                </tr>

                <tr>
                    <th title="libphonenumber\ShortNumberUtil->getExampleShortNumber()">getExampleShortNumber</th>
                    <td>{{ shortNumber.getExampleShortNumber(input['country']) }}</td>
                </tr>


                </tbody>
            </table>
        </div>
    </div>

    <hr/>

    <h2>PhoneNumberOfflineGeocoder Result</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <code title="PhoneNumberOfflineGeocoder->getDescriptionForNumber(PhoneNumber $phoneNumber, String $language, String $region)">getDescriptionForNumber()</code>
                    </th>
                    <td>{{ geolocation }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr/>

    <h2>PhoneNumberToCarrierMapper Result</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <code title="PhoneNumberToCarrierMapper->getNameForNumber(PhoneNumber $phoneNumber, String $language)">getNameForNumber()</code>
                    </th>
                    <td>{{ carrierinfo }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>


    <hr/>

    <h2>PhoneNumberToTimeZonesMapper Result</h2>
    <div class="row">
        <div class="col-sm-{{ tableWidth }}">
            <table class="table table-striped table-bordered">
                <thead>
                <tr>
                    <th>Function</th>
                    <th>Value</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th>
                        <code title="PhoneNumberToTimeZonesMapper->getTimeZonesForNumber(PhoneNumber $phoneNumber)">getTimeZonesForNumber()</code>
                    </th>
                    <td>{{ timezone|join(', ') }}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}
